<h1>Angualar</h1>
<app-courses></app-courses>
<app-stars [is-favorite]="post.isFavorite" (clicks)="onFavoriteChanged($event)"></app-stars>
<span class="glyphicon glyphicon-user"></span> 
<bootstrap-panel [body]="body">
    <div class="heading">Heading with ng-content and div</div>
    <ng-container class="footer">Tail goes here with ng-content and ng-container</ng-container>
</bootstrap-panel>
<app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked" (change)="onLikeChanged()"></app-like>